@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


    <p>
@{
	var selection = Umbraco.Content(Guid.Parse("cb55071a-6d7b-42c7-b48c-2c8a4ed68dc4"))
    .ChildrenOfType("articleItem")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

</p>
